[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/rectpack2D"]
	path = lib/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/FMOD"]
	path = lib/FMOD
	url = https://github.com/digipen-team-uwu/umbra-fmod.git
[submodule "assets"]
	path = assets
	url = https://github.com/digipen-team-uwu/umbra-assets.git
[submodule "data"]
	path = data
	url = https://github.com/digipen-team-uwu/umbra-data.git
[submodule "lib/catch2"]
	path = lib/catch2
	url = https://github.com/catchorg/Catch2
[submodule "lib/rttr"]
	path = lib/rttr
	url = https://github.com/rttrorg/rttr.git
